.btn {
    font-weight: 400;
    transition: all 0.5s ease;
    
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {}    
}
.btn-white {
    cursor: pointer;
    color: $black!important;
    background-color: $white;
    border: 1px solid white;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background: $black;
        color: $white!important;
    }
}

.btn-transparent {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;    
    letter-spacing: 3px;
    padding: 8px 10px;
    font-size: 0.875rem;    
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background: $white;
        color: $black!important;
    }    
}

.btn-radius-20 {

    border-radius: 20px;
}

.custom-button {
    color: $white;
    @include border-radius(30px);
    font-weight: 700;
    &.custom-button-lg {
        padding: 0.75rem 4rem;
    }
}

input {
    transition: all 0.5s ease;
}