.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-remaining {

  height: calc(100% - 100px);

}

.h-20 {
  height: 20% !important;
}

.h-10 {
  height: 10% !important;
}

.hpx-60 {
  height: 60px;
}

@media (max-width:480px) {

  .h-remaining {

    height: calc(100% - 90px);

  }
}


@media (min-width: 1200px){
  .container {
    max-width: 1250px;
  }
}
