@media (max-width: 1580px) {
}

@media (max-width: 1378px) {

}

@media (max-width: 1280px) {
}

@media (max-width: 1180px) {
}

@media (max-width: 768px) {

}



@media (max-width: 991px) {
  hmtl,body{
    font-size: 14px;
  }
  .footer-list {

    li {

      font-size: 12px;

    }
  }
  .copyright{
    font-size: 12px;
  }
}


@media (max-width: 480px) {

  header {
    //height: 64px;
    .custom-navbar{
      height: 90px;
      .navbar-brand img{
        height: 54px;
      }
    }
  }


  .primary-section{

    margin-top:90px;
  }

}
