
.primary-section{
  background: url("../../../charity/assets/images/primary-background1.png");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  //background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
margin-top: 100px;
}

.contact-section{
  background: url("../../../charity/assets/images/contact.png");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;
  //
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  //background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

}
